
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
}


.container {
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 100%;
    max-width: 500px;
    margin: 0 20px;
}

.container.buttons-visible {
    padding-bottom: 40px;
}


h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#searchBox {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    border: 2px solid #fff;
    border-radius: 30px;
    font-size: 18px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 0 auto;
}

#searchBox:focus {
    border-color: #ffeb3b;
    box-shadow: 0 0 10px #ffeb3b;
}


#quickSearchButton {
    position: relative;
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-family: "Arial";
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
}

#quickSearchButton .actual-text {
    position: relative;
}

#quickSearchButton .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

#quickSearchButton:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}

.suggestion-list {
    list-style-type: none;
    padding: 0;
    margin: 10px auto 0;
    max-height: 250px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    color: #333;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.suggestion-list li {
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    position: relative;
}

.suggestion-list li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.suggestion-list li:hover,
.suggestion-list li.active {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
}

.suggestion-list li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #6a11cb;
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.suggestion-list li:hover::before,
.suggestion-list li.active::before {
    transform: scaleY(1);
}

.suggestion-list li .icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.suggestion-list li .suggestion-text {
    flex-grow: 1;
}


.highlight {
    background-color: #ffeb3b;
    color: black;
    font-weight: bold;
}


.definition-container {
    position: relative;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 16px;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transform: scale(0.9);
    transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.3s ease;
}

.definition-container.expand {
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
    transform: scale(1);
    transition: opacity 0.7s ease, max-height 0.7s ease, transform 0.5s ease;
}

.definition-container.hidden {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, max-height 0.5s ease, transform 0.3s ease;
}

.audio-button {
    padding: 6px 12px;
    margin: 5px 0;
    background-color: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s;
}

.audio-button:hover {
    background-color: #6a11cb;
}



.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close-icon:hover {
    color: #ff0000;
}


.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.button-container.visible {
    opacity: 1;
    max-height: 200px;
}

.button-container.hidden {
    display: none;
}


.action-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #6a11cb;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateY(20px);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-button.show {
    transform: translateY(0);
    animation: fadeIn 0.5s ease-out;
}

.action-button .icon {
    width: 18px;
    height: 18px;
}

.action-button:hover {
    background-color: #2575fc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.action-button:active {
    transform: translateY(2px);
}

.credits-container {
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
}

.update-time {
    margin-bottom: 5px;
    font-size: 14px;
}

.update-time a {
    color: #ffeb3b;
    text-decoration: none;
    margin-bottom: 5px;
}

.credit {
    margin-top: 5px;
    font-size: 12px;
}


.contribute {
    display: block;
    color: #b2ff59;
    text-decoration: none;
}

.contribute:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    #searchBox {
        font-size: 16px;
        padding: 12px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .action-button {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 0.9em;
    }

    #searchBox {
        font-size: 14px;
        padding: 10px;
    }

    .container {
        padding: 30px;
    }

    .suggestion-list {
        width: 80%;
        max-width: none;
    }

    #searchBox {
        margin: 0 auto;
    }

    .update-time, .credit {
        position: static;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    .credit {
        margin-top: 10px;
    }
}
